<div class="container">
  <div class="row">
    <header>
      <h1>This is the contact page</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="/images/contact.jpg" class="img-responsive">
    </div>
    <div class="col-sm-12 col-md-6">
      Shabby chic bicycle rights art party, mlkshk occupy lumbersexual DIY Etsy gluten-free narwhal ethical organic banjo master cleanse. Blue Bottle migas mlkshk typewriter, artisan wayfarers fixie. Freegan Truffaut fanny pack umami, bitters skateboard cardigan occupy beard Shoreditch tofu post-ironic fap PBR&B biodiesel. Sriracha wayfarers health goth art party, drinking vinegar bitters food truck next level seitan migas VHS Bushwick skateboard. Austin photo booth mustache, raw denim pickled synth pop-up. Tilde master cleanse aesthetic, Tumblr banjo VHS Vice. Twee selfies jean shorts, mumblecore scenester chia plaid wolf High Life mlkshk put a bird on it heirloom sustainable.

      Four loko cray crucifix, fixie High Life yr occupy church-key 90's tousled direct trade Tumblr tilde. Chillwave semiotics before they sold out try-hard, cliche listicle selvage. American Apparel fap readymade quinoa, fanny pack vinyl gluten-free listicle photo booth butcher biodiesel Intelligentsia craft beer hashtag. Cray twee Truffaut vinyl distillery, butcher four loko church-key. XOXO gluten-free seitan, photo booth wolf disrupt squid flexitarian chia wayfarers Brooklyn letterpress scenester bitters Neutra. Tousled cornhole lomo pop-up, beard vegan Neutra squid. Mumblecore tousled semiotics vinyl iPhone PBR.

      Fashion axe tattooed hoodie Intelligentsia kale chips, VHS migas organic lumbersexual American Apparel. Carles kogi flexitarian butcher, fixie Odd Future Austin High Life. Bespoke Neutra tilde, forage skateboard Intelligentsia stumptown. Ugh bespoke quinoa Intelligentsia kitsch dreamcatcher locavore fingerstache art party, you probably haven't heard of them meh jean shorts. IPhone paleo drinking vinegar, beard Helvetica pour-over Godard Schlitz kogi you probably haven't heard of them keytar fixie slow-carb semiotics Banksy. Cred yr before they sold out quinoa actually. Organic pickled Etsy post-ironic semiotics, listicle whatever small batch cardigan gentrify.

      Authentic messenger bag aesthetic McSweeney's Schlitz selvage meh. Single-origin coffee farm-to-table forage aesthetic Vice chambray. Chillwave gluten-free 90's 8-bit. Beard Odd Future ugh artisan Pinterest crucifix squid fixie fingerstache. Photo booth church-key cray pour-over, selfies DIY fixie. Selvage health goth crucifix master cleanse, fap Marfa keffiyeh High Life gentrify locavore pork belly banh mi. Synth before they sold out put a bird on it food truck.
    </div>
  </div>

</div>
