<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Bike Berlin</h1>
    <h2>Your source for used bikes in Berlin</h2>
    <%= link_to "Enter", static_pages_index_path,class: "btn btn-default btn-lg",id: "enter" %>
  </div>
</div>

