


<button id="customButton" class="btn btn-default btn-xs">
  <i class="fa fa-shopping-cart"></i> 
   Pay Now
</button>

<script>
  $.getScript( "//checkout.stripe.com/checkout.js", function( data, textStatus, jqxhr ) {
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      image: '',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        var $stripeToken = $('<input type=hidden name=stripeToken />').val(token.id);
        var $stripeEmail = $('<input type=hidden name=stripeEmail />').val(token.email);
        $('.new_payment').append($stripeToken).append($stripeEmail).submit();
      }
    });

    $('#customButton').on('click', function(e) {
      // Open Checkout with further options
      handler.open({
        name: 'BikeBln',
        description: 'Order N° <%= @order.id %>',
        currency: "eur",
        amount: <%= @order.total * 100 %>
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
});



</script>