<div class="container">
  <h1 class="fancy">Orders</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>

    <%= render partial: "order", collection: @orders %>
  </table>
</div>