<div class="container">
  <table class="table">
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Price</th>
    </tr>
    <tr>
      <td> <%= @order.user.first_name + @order.user.last_name %></td>
      <td> <%= @order.product.name %></td>
      <td> <%= @order.product.price %></td>
    </tr>
  </table>
</div>