// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #af2010;
}
.navbar{
  padding: 0 10px 0 10px;
  font-family: 'Sigmar One', cursive;
}
.navbar a {
  font-family: 'Sigmar One', cursive;
}
.navbar-brand{
  font-size: 1.5em;
}
.container{
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  min-height: 700px;
}
.container-fluid.landing{
  background-color: white;
  margin-top:0px;
  padding:30px;
}
.carousel-control.left,.carousel-control.right,.carousel-control.left:hover,.carousel-control.right:hover{

  background: none;
}
.glyphicon-chevron-left, .glyphicon-chevron-right{
  color:red;
}
.container-fluid{
  padding:0px;
}
.jumbotron{
  font-family: 'Sigmar One', cursive;
  color:white;
  height: 1080px;
  margin-bottom: 0px;
  padding-top: 500px;
  background-image: url("/images/jumbo.jpg");
  text-align:center;
}
.jumbotron h2{
  font-family: "verdana";
  margin-left: 30px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
header{
  text-align: center;
  font-family: 'Sigmar One', cursive;
  margin:20px;
}
.btn-landing{
  background: none;
  color: white;
  margin-left: 50px;
}
.btn-landing:hover{
  color: black;
}
footer{
  color: white;
  background-color: black;
  text-align: center;
  height: 30px;
}