<div class="container">
  <div id="row">
    <% if alert %> 
    <p id="alert" class="alert alert-danger" role="alert"><%= alert %></p>
    <% elsif notice %>
    <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
    <% end %>
  </div>
  <div class="row">
    <h1 class="fancy">Products</h1>
    <% cache_unless(params[:q],cache_key_for_products) do %>
      <%= render partial: "product", collection: @products %>
    <% end %>
  </div>
  <%= link_to 'New Product', new_product_path, class: "btn btn-default new-product" %>

</div>